<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div layout:fragment="content">
    <div class="flex flex-col items-center justify-center">
        <div class="mb-4">
            <a class="artboard artboard-horizontal phone-2 btn btn-accent text-3xl" th:href="@{/product/reset}" onclick="resetCart()">주문하기</a>
        </div>
        <div>
            <a class="btn btn-ghost text-lg" sec:authorize="isAnonymous()" th:href="@{/user/login}">관리자</a>
            <a class="btn btn-ghost text-lg" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
        </div>
        <div class="mb-4">
            <a class="btn btn-ghost text-lg" th:href="@{/car/create}">주차 등록</a>
        </div>
    </div>
    <script>
        function resetCart(){
                sessionStorage.clear();
                window.location.href = '/product/list';
            }
    </script>
</div>
</body>
</html>