<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row flex justify-center items-center flex-wrap h-[60%]">
        <div class="card w-96 bg-base-100 shadow-xl">
            <figure class="px-10 pt-10">
                <img th:src="${product.image}" alt="Empty" class="rounded-xl" width="100" height="200"/>
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title" th:text="${product.productName}"></h2>
                <p class="card-text product-price" th:text="${product.price} + '원'"></p>
                <div class="card-actions">
                    <a sec:authorize="isAnonymous()" th:href="@{|/product/select/${product.id}|}"
                       class="btn btn-accent">담기</a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>