<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>결제 완료</title>
</head>
<body>
<div layout:fragment="content">
    <div class="flex flex-col items-center justify-center gap-3">
        <div class="mb-4">
            <div class="artboard artboard-horizontal phone-3 btn btn-ghost text-3xl">결제 완료!</div>
        </div>
        <div class="col-6">
            <a href="/" class="btn btn-accent">시작 페이지로 이동</a>
        </div>
        <div class="col-6">
            <a href="/car/find" class="btn btn-primary">주차 정산하기</a>
        </div>
    </div>
</div>
</body>
</html>